/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.03.2017, 23:48:02
    Author     : Oana
*/
        body {
            background-image: url("img/student.jpg");
        }
        h1{
            font-size: 44px!important;
            color: #000;
        }
        h2 {
            text-align : center; 
            color : black;
        }
        h3 {
            text-align: left;
            font-size: 2.4em;
            color: darkcyan;
            font-weight: normal;
            width: 450px;
        }
        .header { 
            height: 55px; 
            padding: 5px;
            width: 1315px;     
            background: cornflowerblue;
        }
        form {
            background-color: white;
            margin: 0 auto; 
            width: 300px;    
            border: 3px solid #f1f1f1;
        }

        input[type=text], input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
        }

        button:hover {
            opacity: 0.8;
        }

     
        .imgcontainer {
            text-align: center;
            margin: 24px 0 12px 0;
        }

        img.avatar {
            width: 20%;
            border-radius: 40%;
        }

        .container {
            padding: 16px;
            max-width: 668px;
            max-height: 464px;
        }

       
        
        

